{:paths   ["src/clj" "resources" "src/cljc"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.0"}

           ;; Routing
           metosin/reitit {:mvn/version "0.8.0"}

           ;; Ring
           metosin/ring-http-response {:mvn/version "0.9.3"}
           ring/ring-core {:mvn/version "1.14.0"}
           ring/ring-defaults {:mvn/version "0.6.0"}

           ;; Logging
           ch.qos.logback/logback-classic {:mvn/version "1.5.16"}
           com.taoensso/timbre {:mvn/version "6.2.2"}

           ;; Data coercion
           luminus-transit/luminus-transit {:mvn/version "0.1.6"
                                            :exclusions [com.cognitect/transit-clj]}
           metosin/muuntaja {:mvn/version "0.6.8"}
           metosin/malli {:mvn/version "0.18.0"}

           ;; kit Libs
           io.github.kit-clj/kit-core {:mvn/version "1.0.9"}
           io.github.kit-clj/kit-undertow {:mvn/version "1.0.8"}
           selmer/selmer {:mvn/version "1.12.50"}
           luminus/ring-ttl-session {:mvn/version "0.3.3"}
           io.github.kit-clj/kit-sql-conman {:mvn/version "1.10.4"}
           io.github.kit-clj/kit-sql-migratus {:mvn/version "1.0.4"}
           org.xerial/sqlite-jdbc {:mvn/version "3.46.0.0"}
           com.oracle.database.jdbc/ojdbc11 {:mvn/version "21.5.0.0"}
           com.hankcs/hanlp {:mvn/version "portable-1.8.5"}
           buddy/buddy-auth {:mvn/version "3.0.323"}
           buddy/buddy-hashers {:mvn/version "2.0.167"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          babashka/fs {:mvn/version "0.1.11"}
                          babashka/process {:mvn/version "0.3.11"}}
                   :ns-default build}


           :dev  {:extra-deps  {com.lambdaisland/classpath      {:mvn/version "0.5.48"}
                                criterium/criterium             {:mvn/version "0.4.6"}
                                expound/expound                 {:mvn/version "0.9.0"}
                                integrant/repl                  {:mvn/version "0.3.3"}
                                mvxcvi/cljstyle                 {:mvn/version "0.16.630"}
                                pjstadig/humane-test-output     {:mvn/version "0.11.0"}
                                ring/ring-devel                 {:mvn/version "1.14.0"}
                                ring/ring-mock                  {:mvn/version "0.4.0"}
                                io.github.kit-clj/kit-generator {:mvn/version "0.2.5"}
                                org.clojure/tools.namespace     {:mvn/version "1.4.4"}
                                org.clojure/test.check          {:mvn/version "1.1.1"}
                                com.gfredericks/test.chuck      {:mvn/version "0.2.15"}
                                }
                  :extra-paths ["env/dev/clj" "env/dev/resources" "test/clj" "target/classes/cljsbuild"]}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
                   :main-opts  ["-m" "nrepl.cmdline" "-i"]}
           :cider {:extra-deps {nrepl/nrepl       {:mvn/version "1.1.0"}
                                cider/cider-nrepl {:mvn/version "0.45.0"}}
                   :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]" "-i"]}

           :test {:mvn/repos {"clojars" {:url "https://repo.clojars.org/"}}
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.88.1376"}
                                criterium/criterium                  {:mvn/version "0.4.6"}
                                expound/expound                      {:mvn/version "0.9.0"}
                                integrant/repl                       {:mvn/version "0.3.3"}
                                pjstadig/humane-test-output          {:mvn/version "0.11.0"}
                                ring/ring-devel                      {:mvn/version "1.11.0"}
                                ring/ring-mock                       {:mvn/version "0.4.0"}
                                io.github.kit-clj/kit-generator      {:mvn/version "0.2.5"}
                                org.clojure/tools.namespace          {:mvn/version "1.4.5"}
                                peridot/peridot                      {:mvn/version "0.5.4"}
                                org.clj-commons/byte-streams         {:mvn/version "0.3.4"}
                                com.lambdaisland/classpath           {:mvn/version "0.5.48"}
                                com.gfredericks/test.chuck           {:mvn/version "0.2.15"} ; Added test.chuck
                                lambdaisland/kaocha-cljs             {:mvn/version "1.0.107"}
                                lambdaisland/kaocha-cljs2            {:mvn/version "0.2.72"}
                                lambdaisland/funnel                  {:mvn/version "1.6.93"}}
                  :extra-paths ["env/dev/clj" "env/dev/resources" "env/test/resources" "test/clj"]
                  :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)"
                                "-m" "kaocha.runner"]}
          :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.06.05"}}
                 :main-opts ["-m" "clj-kondo.main"]}
          :coverage {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}
                                 criterium/criterium {:mvn/version "0.4.6"}
                                 expound/expound {:mvn/version "0.9.0"}
                                 integrant/repl {:mvn/version "0.3.3"}
                                 pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                 ring/ring-devel {:mvn/version "1.11.0"}
                                 ring/ring-mock {:mvn/version "0.4.0"}
                                 io.github.kit-clj/kit-generator {:mvn/version "0.2.5"}
                                 org.clojure/tools.namespace {:mvn/version "1.4.5"}
                                 peridot/peridot {:mvn/version "0.5.4"}
                                 org.clj-commons/byte-streams {:mvn/version "0.3.4"}
                                 com.lambdaisland/classpath {:mvn/version "0.5.48"}
                                 com.gfredericks/test.chuck {:mvn/version "0.2.15"}
                                 lambdaisland/kaocha-cljs {:mvn/version "1.0.107"}
                                 lambdaisland/kaocha-cljs2 {:mvn/version "0.2.72"}
                                 lambdaisland/funnel {:mvn/version "1.6.93"}}
                     :extra-paths ["env/dev/clj" "env/dev/resources" "env/test/resources" "test/clj"]
                     :main-opts ["-m" "cloverage.coverage" "--src-ns-path" "src/clj" "--test-ns-path" "test/clj"]}}
 :mvn/repos
 {"clojars" {:url "https://repo.clojars.org/"}
  "central" {:url "https://repo1.maven.org/maven2/"}
  "jitpack" {:url "https://jitpack.io"}}}
