{:nrepl {:port 7002}
 :source-paths ["src/cljs" "src/cljc" "test/cljs"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [nrepl "0.8.3"]
                [cider/cider-nrepl "0.30.0"]
                [metosin/malli "0.18.0"]
                [cljs-ajax "0.8.4"]
                [day8.re-frame/http-fx "0.2.4"]
                [reagent "1.1.0"]
                [re-frame "1.3.0"]
                [com.taoensso/timbre "6.2.2"]
                [lambdaisland/kaocha-cljs "1.0.107"]
                [lambdaisland/kaocha-cljs2 "0.2.72"]]
 :repositories {"clojars" {:url "https://repo.clojars.org/"}}
 :builds       {:app {:target     :browser
                      :output-dir "target/classes/cljsbuild/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [hc.hospital.core]
                                         :init-fn hc.hospital.core/init!}}
                      :devtools   {:after-load hc.hospital.core/mount-root}}

                :patient-app {:target     :browser
                              :output-dir "target/classes/cljsbuild/public/js/patient"
                              :asset-path "/js/patient"
                              :modules    {:patient-app {:entries [hc.hospital.patient.core]
                                                         :init-fn hc.hospital.patient.core/init!}}
                              :devtools   {:after-load hc.hospital.patient.core/mount-root}}
                :test {:target :browser-test
                       :test-dir "target/browser-test"
                       :ns-regexp "-test$"
                       :devtools {:preloads [lambdaisland.chui.remote]}
                       :runner-ns kaocha.cljs2.shadow-runner}}}
